!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
	%head
		%link{:rel=>"stylesheet", :href=>"stylesheets/voview.css"}
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%title Sample of VOView using Sinatra :D
	%body
		#header
			%h1 Dummy Virtual Observatory
			
		#content
			%form{:action => "search", :method => "post"}
				%fieldset
					%ol
						%li
							%label{:for => "name"} Name:
							%input{:type => "text", :name => "name", :class => "text"}
						%li
							%label{:for => "mail"} email:
							%input{:type => "text", :name => "mail", :class => "text"}
						%li
							%label{:for => "body"} Message:
							%textarea{:name => "body"}
							%input{:type => "submit", :value => "Send", :class => "button"}

			.asd #{@hello}
			.voview_table 
			
		#footer
			Copyright by LIRAE-UTFSM
		

%script{:src=>"javascripts/jquery-1.9.1.min.js"}
%script{:src=>"javascripts/dragtable.js"}
%script{:src=>"javascripts/sarissa.js"}
%script{:src=>"javascripts/tablednd.js"}
%script{:src=>"javascripts/voview_pkg.js"}	
%script{:src=>"javascripts/main.js"}		