html, body, .container, .content {
	height: 100%;
}

body {
	background-color: #1e406d;
}

.navbar {
	margin-bottom: 0;
}
 
.wrapper {
	background-color: #fff;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:90%;
	margin: 0 auto -40px;
	overflow: hidden;
	
	.content {
		
	}
	.push {
		margin-bottom: 40px;
	}
}
 
footer{
	.footer-wrapper {	
		.container-fluid {
			.row-fluid {
				text-align: center;
				color: #999;
			}
		}
	}
}

